name: Tests

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [ 8.5 ]
    services:
      db:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: laravel
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DB_CONNECTION: pgsql
      DB_HOST: localhost
      DB_PORT: 5432
      DB_DATABASE: laravel
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    steps:
      - name: Checkout step
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{matrix.php}}
          extensions: json, dom, curl, libxml, mbstring
          coverage: none
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.action', '.env');"

      - name: Install depencedies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Generate APP key
        run: php artisan key:generate

      - name: Directory permissions
        run: mkdir -p storage/framework/{cache,views,sessions}
             chmod -R 777 storage bootstrap/cache

      - name: Run migrations
        run: php artisan migrate

      - name: Run seeds
        run: php artisan db:seed --class="OnDemandSeeder"

      - name: Tests execution
        run: php artisan test
