name: Tests

on:
    pull_request:
      types: [opened, reopened, edited, synchronize]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: laravel
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    strategy:
      fail-fast: true
      matrix:
          php: [8.5]
    env:
      DB_CONNECTION: mysql
      DB_HOST: localhost
      DB_PORT: 3306
      DB_DATABASE: laravel
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_SOCKET: ""
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json, dom, curl, mbstring, libxml
          coverage: none

      - name: Copy .env file
        run: php -r "file_exists('.env') || copy('.env.action', '.env');"

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction --no-scripts --no-ansi

      - name: Generate application key
        run: php artisan key:generate

      - name: Directory permissions
        run: |
          mkdir -p storage/framework/{cache,views,sessions}
          chmod -R 775 storage bootstrap/cache

      - name: Artisan migrate
        run: php artisan migrate

      - name: Run seeds
        run: php artisan db:seed --class="OnDemandSeeder"



      - name: Run tests
        run: php artisan test
